<footer class="page-footer font-small footer">

    <div class="bg-black">
  
      <div class="container pt-4">
  
        <div class="row d-flex justify-content-center">
  
          <div class="col-md-6">
  
            <div class="container footer-copyright">
  
              <img src="https://i.imgur.com/uikij89.png" alt="Logo" width="150px" height="150px">
              <p class="text-white">&copy; Copyright Matheus Da Silva - 2022 </p>
  
            </div>
  
          </div>
  
        </div>
  
      </div>
    </div>
  </footer>