<!-- <audio controls id="music" autoplay loop style="display: none;">

  <source src="{{this.music}}" type="audio/mpeg">

</audio> -->

<div class="container-fluid pt-5 pb-5">

  <div class="container">

    <div class="row">
      <div class="col-md-12 d-flex justify-content-center">

        <div class="notepad">
          <div class="top"></div>
          <div class="paper">
            Olá, Gaby! Aqui quem fala é {{pronome}} {{name}}, se você chegou até aqui significa que finalmente o Matheus enviou para você
            esse site. Seja bem-Vinda. <br>
            Esse site foi feito com o propósito de lhe dizer o quanto o Matheus gosta de você. Suas escolhas até aqui fez
            com que o site fosse todo personalizado, fazendo com que fosse eu que falasse com você e assim passando o recado
            dele.<br>
            A partir daqui, você estará em um labirinto, em que irá precisar achar 6 partes de uma carta que ele escreveu
            para você, não se preocupe, o labirinto não é confuso e as cartas estão em locais visíveis. <br>
            Espero que você goste da experiência :) E lembrem-se, o Matheus gosta muito de você! <br>
            <a href="https://github.com/Matth998/labirinto" class="text-dark font-weight-bold" target="_blank"> Clique aqui para ir ao labirinto. </a>
             <p class="text-center mt-3"> <img src="{{logo}}" alt="" width="150" height="110"></p>
          </div>
        </div>

      </div>
    </div>

  </div>

</div>
