<div class="container-fluid bg-vagalumes">

  <div class="container">

    <div class="row pt-5">
      <div class="col-md-12">

        <div id="wrapper">
          <h1 class="glitch" data-text="Escolha um personagem">Escolha um personagem</h1>
        </div>

      </div>
    </div>

    <div class="row d-flex justify-content-center">
      <div class="col-md-8">

        <div class="gallery">
          <img (click)="lev()" src="https://i.imgur.com/DOui1Uf.jpg" alt="">
          <img (click)="yara()" src="https://i.imgur.com/tUP2ri9.png" alt="">
        </div>

      </div>
    </div>

    <div class="row mt-5">
      <div class="col-md-12">
        <p class="text-center"><img src="https://static.wikia.nocookie.net/thelastofus/images/2/27/Seraphites_logo.png"
            alt="" width="450" height="400"></p>
      </div>
    </div>
  </div>

</div>
