.bg-menu {

  background: rgb(205, 205, 205);
  background: linear-gradient(87deg, rgba(205, 205, 205, 1) 0%, rgba(179, 179, 179, 1) 100%);
  box-shadow: 0 8px 32px 0 rgba(179, 179, 179, 0.37);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);

}


.bi-box-arrow-right {

  color: #000;

}

.exit{

  cursor: pointer;

}
