<div class="background"></div>
<div class="woolf"></div>

<div class="content-container">
  <div class="content">

    <h1>Wily</h1>
    <hr>
    <h2>by Matth</h2>

    <p>Ola Gaby, seja bem vinda ao Wily</p>

    <p> Não sou muito bom em textos ou em como me expressar... então essa foi a melhor forma que encontrei de como
      mostrar o quanto eu amo você. Por isso nomeei esse site de wily (Why I love you?) </p>
    <p>Aqui é um local que falarei para você todos os motivos que me fazem amar você! As escolhas do inicio moldaram a
      forma que o site ficará em relação ao design. Faça de acordo com seus gostos de personagem.
    </p>
    <p>Espero que você goste do que verá daqui em diante.</p>
    <h4 class="font-weight-bold">Eu te amo.</h4>
    <p><a routerLink="/home" class="text-decoration-none text-dark">Clique aqui para começar</a></p>

  </div>
</div>
